@charset "UTF-8";
/* Reset.css  ver_HTML5 Doctor Reset CSS */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #555555;
  font-family: Alata, “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif;
}

body a {
  color: #555555;
  display: block;
  text-decoration: none;
}

body img {
  max-width: 100%;
  height: auto;
}

body ul {
  list-style: none;
}

body.open {
  overflow: hidden;
}

/*画面全体にローディング画面を表示*/
#showloading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/* ==============================================================
*  セクション
* ============================================================ */
.header {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__inner {
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  background: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .header__inner {
    border-radius: 1.3559322033898304vw;
    height: 4.21875vw;
    margin: 1.694915254237288vw auto 0;
    width: 97.45762711864407%;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    height: 12.266666666666666vw;
    margin: 4vw 4vw 0;
    width: 92vw;
  }
}

.header__logo {
  font-size: 26px;
  margin: 9px 0 9px 50px;
}

@media screen and (max-width: 1179px) {
  .header__logo {
    font-size: 2.2033898305084745vw;
    margin: 0.7627118644067796vw 0 0.7627118644067796vw 4.23728813559322vw;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 6.933333333333334vw;
    margin: 1.3333333333333333vw 0 1.3333333333333333vw 2.6666666666666665vw;
  }
}

.header__logo-link {
  color: #3BB6D5;
  display: inline-block;
  line-height: 1.38462;
}

@media screen and (max-width: 767px) {
  .header__sp-none {
    display: none;
  }
}

.header__li {
  display: inline-block;
  font-size: 18px;
  margin: 15px 0 14px 30px;
}

@media screen and (max-width: 1179px) {
  .header__li {
    font-size: 1.40625vw;
    margin: 1.171875vw 0 1.09375vw 2.34375vw;
  }
}

.header__li:last-of-type {
  margin-right: 50px;
}

@media screen and (max-width: 1179px) {
  .header__li:last-of-type {
    margin-right: 3.90625vw;
  }
}

.header__li-link {
  color: #3BB6D5;
}

.header__inner .l-drawer {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__inner .l-drawer {
    display: block;
    position: relative;
  }
}

.header__inner .l-drawer__checkbox {
  display: none;
}

.header__inner .l-drawer__icon {
  background-color: #fff;
  border-radius: 1.3333333333333333vw;
  cursor: pointer;
  display: block;
  width: 13.333333333333334vw;
  height: 12.266666666666666vw;
  top: 2.1333333333333333vw;
  right: 4.533333333333333vw;
  z-index: 0;
}

.header__inner .l-drawer__icon-parts, .header__inner .l-drawer__icon-parts:before, .header__inner .l-drawer__icon-parts:after {
  background-color: #3BB6D5;
  display: block;
  width: 8vw;
  height: 0.8vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.header__inner .l-drawer__icon-parts:before, .header__inner .l-drawer__icon-parts:after {
  content: " ";
}

.header__inner .l-drawer__icon-parts:before {
  top: 4.533333333333333vw;
}

.header__inner .l-drawer__icon-parts:after {
  top: -4.533333333333333vw;
}

.header__inner .l-drawer__menu {
  background: #ffffff;
  color: #000;
  width: 46.4vw;
  height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: -46.4vw;
}

.header__inner .l-drawer__icon {
  z-index: 4;
}

.header__inner .l-drawer__menu {
  z-index: 3;
}

.header__inner .l-drawer__overlay {
  z-index: 2;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__icon {
  position: fixed;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
  background: transparent;
  z-index: 100;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  z-index: 100;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  z-index: 100;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__menu {
  background-color: #3BB6D5;
  right: 0;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__menu ul {
  margin: 24vw 0 0 11.2vw;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__menu ul .l-drawer__item {
  font-size: 5.333333333333333vw;
  font-family: Alata;
  margin: 0 4vw 8vw 0;
}

.header__inner .l-drawer__checkbox:checked ~ .l-drawer__menu ul .l-drawer__item-inner {
  color: #ffffff;
}

.header__inner .l-drawer__icon-parts, .header__inner .l-drawer__icon-parts:after, .header__inner .l-drawer__icon-parts:before, .header__inner .l-drawer__overlay, .header__inner .l-drawer__menu {
  -webkit-transition: all .7s;
  transition: all .7s;
}

/*画面全体にローディング画面を表示*/
#showLoading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

#showLoading img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

#about, #activities, #flow, #member, #question, #contact {
  margin-top: -74px;
  /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 74px;
  /* 打ち消し用のパディング */
}

@media screen and (max-width: 1179px) {
  #about, #activities, #flow, #member, #question, #contact {
    margin-top: -6.271186440677965vw;
    padding-top: 6.271186440677965vw;
  }
}

@media screen and (max-width: 767px) {
  #about, #activities, #flow, #member, #question, #contact {
    margin-top: -19.733333333333334vw;
    padding-top: 19.733333333333334vw;
  }
}

.mv__bg-img {
  background: transparent url(../img/bg-shape.png) repeat top center/cover;
  height: 529px;
  width: 100%;
}

@media screen and (max-width: 1179px) {
  .mv__bg-img {
    height: 44.83050847457627vw;
  }
}

@media screen and (max-width: 767px) {
  .mv__bg-img {
    height: 41.333333333333336vw;
    width: 100vw;
  }
}

.mv__inner {
  margin: 0 auto;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .mv__inner {
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .mv__inner {
    margin: 0;
  }
}

.mv__carousel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

@media screen and (max-width: 767px) {
  .mv__carousel {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.mv__left {
  display: inline-block;
  margin: 204px 19px 0 0;
  width: 490px;
}

@media screen and (max-width: 1179px) {
  .mv__left {
    margin-top: 17.28813559322034vw;
    width: 38.28125vw;
  }
}

@media screen and (max-width: 767px) {
  .mv__left {
    margin: 8.533333333333333vw auto 0;
    width: 92vw;
  }
}

.mv__title {
  font-size: 52px;
  line-height: 1.38462;
  width: 490px;
}

@media screen and (max-width: 1179px) {
  .mv__title {
    font-size: 4.406779661016949vw;
    width: 41.52542372881356vw;
  }
}

@media screen and (max-width: 767px) {
  .mv__title {
    font-size: 8.533333333333333vw;
    margin: 6.4vw auto 0;
    text-align: center;
    width: 77.066667vw;
  }
}

.mv__sentence {
  font-size: 16px;
  font-family: Verdana;
  line-height: 1.1875;
  margin-top: 26px;
  width: 356px;
}

@media screen and (max-width: 1179px) {
  .mv__sentence {
    font-size: 1.25vw;
    margin-top: 2.2033898305084745vw;
    width: 30.169491525423727vw;
  }
}

@media screen and (max-width: 767px) {
  .mv__sentence {
    font-size: 4.266666666666667vw;
    margin-top: 6.4vw;
    text-align: center;
    width: 93.33333333333333vw;
  }
}

.mv__carousel:last-of-type .mv__left .mv__sentence {
  width: 432px;
}

.mv .pc-none {
  display: none;
}

@media screen and (max-width: 767px) {
  .mv .pc-none {
    display: block;
  }
}

.mv__right {
  display: inline-block;
  margin-top: 140px;
  width: 670px !important;
}

@media screen and (max-width: 1179px) {
  .mv__right {
    margin-top: 11.864406779661017vw;
    width: 56.77966101694915vw !important;
  }
}

@media screen and (max-width: 767px) {
  .mv__right {
    margin: 27.733333333333334vw 4vw 0;
    width: 92vw !important;
  }
}

.mv .mv__sentence-3 {
  font-size: 16px;
  font-family: Verdana;
  line-height: 1.1875;
  margin-top: 26px;
  width: 432px;
}

@media screen and (max-width: 1179px) {
  .mv .mv__sentence-3 {
    font-size: 1.25vw;
    margin-top: 2.2033898305084745vw;
    width: 33.75vw;
  }
}

@media screen and (max-width: 767px) {
  .mv .mv__sentence-3 {
    font-size: 4.266666666666667vw;
    margin-top: 6.4vw;
    text-align: center;
    width: 93.33333333333333vw;
  }
}

.mv .mv__sentence-3 .pc-none {
  display: none;
}

@media screen and (max-width: 767px) {
  .mv .mv__sentence-3 .pc-none {
    display: block;
  }
}

.mv .mv__sentence-3 .sp-none {
  display: block;
}

@media screen and (max-width: 767px) {
  .mv .mv__sentence-3 .sp-none {
    display: none;
  }
}

#slider {
  margin: 0 auto;
}

.slick-slide img {
  display: none;
}

.draggable {
  padding: 0 !important;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dotted {
  position: relative;
}

.slick-dots {
  position: absolute;
  top: 672px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media screen and (max-width: 1179px) {
  .slick-dots {
    top: 56.94915254237288vw;
  }
}

@media screen and (max-width: 767px) {
  .slick-dots {
    top: 148vw !important;
    padding: 0;
    height: 12px;
    width: 12px;
  }
}

.slick-dots li.slick-active button:before {
  color: #3BB6D5 !important;
}

.about {
  margin-top: 345px;
}

@media screen and (max-width: 1179px) {
  .about {
    margin-top: 29.237288135593218vw;
  }
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 132.53333333333333vw;
  }
}

.about__inner {
  margin: 0 auto;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .about__inner {
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .about__inner {
    margin: 0 4vw;
    width: 92%;
  }
}

.about__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .about__title {
    font-size: 3.559322033898305vw;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 11.2vw;
  }
}

.about__proposals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

@media screen and (max-width: 1179px) {
  .about__proposals {
    margin-top: 6.779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .about__proposals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 4.666666666666667vw;
  }
}

.about__proposal {
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  height: 351px;
  text-align: center;
  width: 310px;
}

@media screen and (max-width: 1179px) {
  .about__proposal {
    height: 29.745762711864405vw;
    width: 26.271186440677965vw;
  }
}

@media screen and (max-width: 767px) {
  .about__proposal {
    height: 93.6vw;
    margin-top: 13.333333333333334vw;
    width: 82.66666666666667vw;
  }
}

.about__proposal:first-of-type {
  margin-left: 74.8px;
}

@media screen and (max-width: 1179px) {
  .about__proposal:first-of-type {
    margin-left: 6.338983050847457vw;
  }
}

@media screen and (max-width: 767px) {
  .about__proposal:first-of-type {
    margin-left: 0;
  }
}

.about__proposal:last-of-type {
  margin-right: 75.2px;
}

@media screen and (max-width: 1179px) {
  .about__proposal:last-of-type {
    margin-right: 6.372881355932203vw;
  }
}

@media screen and (max-width: 767px) {
  .about__proposal:last-of-type {
    margin-right: 0;
  }
}

.about__figure {
  margin-top: 20px;
}

@media screen and (max-width: 1179px) {
  .about__figure {
    margin-top: 1.694915254237288vw;
  }
}

@media screen and (max-width: 767px) {
  .about__figure {
    margin-top: 5.333333333333333vw;
  }
}

.about__img {
  height: 181px;
  width: 180px;
}

@media screen and (max-width: 1179px) {
  .about__img {
    height: 14.140625vw;
    width: 14.0625vw;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    height: 48.266666666666666vw;
    width: 48vw;
  }
}

.about__sentence {
  font-size: 16px;
  height: 72px;
  line-height: 1.1875;
  margin: 30px 20px 48px;
  text-align: left;
  width: 270px;
}

@media screen and (max-width: 1179px) {
  .about__sentence {
    font-size: 1.3559322033898304vw;
    height: 6.101694915254237vw;
    margin: 2.542372881355932vw 1.694915254237288vw 4.067796610169491vw;
    width: 22.881355932203387vw;
  }
}

@media screen and (max-width: 767px) {
  .about__sentence {
    font-size: 4.266666666666667vw;
    height: 19.2vw;
    margin: 8vw 5.333333333333333vw 12.8vw;
    width: 72vw;
  }
}

.about__valuable {
  color: #3BB6D5;
  font-size: 16px;
  line-height: 1.1875;
  height: 38px;
  margin: 80px auto 136px;
  text-align: center;
  width: 306px;
}

@media screen and (max-width: 1179px) {
  .about__valuable {
    font-size: 1.3559322033898304vw;
    height: 3.2203389830508473vw;
    margin: 6.779661016949152vw auto 11.525423728813559vw;
    width: 30.508474576271183vw;
  }
}

@media screen and (max-width: 767px) {
  .about__valuable {
    font-size: 4.266666666666667vw;
    height: 10.133333333333333vw;
    margin: 13.333333333333334vw auto;
    width: 81.6vw;
  }
}

.about__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 109.5px;
}

@media screen and (max-width: 1179px) {
  .about__logos {
    margin: 0 9.279661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__logo:nth-of-type(1) {
  width: 161px;
}

@media screen and (max-width: 1179px) {
  .about__logo:nth-of-type(1) {
    width: 13.64406779661017vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logo:nth-of-type(1) {
    width: 42.93333333333333vw;
  }
}

.about__logo:nth-of-type(2) {
  width: 151px;
}

@media screen and (max-width: 1179px) {
  .about__logo:nth-of-type(2) {
    width: 12.796610169491524vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logo:nth-of-type(2) {
    margin-top: 3.466666666666667vw;
    width: 40.266666666666666vw;
  }
}

.about__logo:nth-of-type(3) {
  width: 202px;
}

@media screen and (max-width: 1179px) {
  .about__logo:nth-of-type(3) {
    width: 17.11864406779661vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logo:nth-of-type(3) {
    margin-top: 3.466666666666667vw;
    width: 53.86666666666667vw;
  }
}

.about__logo:nth-of-type(4) {
  width: 152px;
}

@media screen and (max-width: 1179px) {
  .about__logo:nth-of-type(4) {
    width: 12.88135593220339vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logo:nth-of-type(4) {
    margin-top: 3.466666666666667vw;
    width: 40.53333333333333vw;
  }
}

.about__logo:nth-of-type(5) {
  width: 175px;
}

@media screen and (max-width: 1179px) {
  .about__logo:nth-of-type(5) {
    width: 14.83050847457627vw;
  }
}

@media screen and (max-width: 767px) {
  .about__logo:nth-of-type(5) {
    margin-top: 3.466666666666667vw;
    width: 46.666666666666664vw;
  }
}

.activities {
  margin-top: 100px;
}

@media screen and (max-width: 1179px) {
  .activities {
    margin-top: 8.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .activities {
    margin-top: 26.666666666666668vw;
  }
}

.activities__inner {
  margin: 0 auto;
  padding: 0 100px;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .activities__inner {
    padding: 0 8.47457627118644vw;
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__inner {
    margin: 0 4vw;
    padding: 0;
    width: 92vw;
  }
}

.activities__inner .panel {
  display: none;
}

.activities__inner .tab.is-active {
  background: #3BB6D5;
  color: #FFF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.activities__inner .panel.is-show {
  display: block;
}

.activities__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .activities__title {
    font-size: 3.559322033898305vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__title {
    font-size: 11.2vw;
  }
}

.activities__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 1179px) {
  .activities__tabs {
    margin-top: 8.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__tabs {
    margin-top: 13.333333333333334vw;
  }
}

.activities__tab {
  background-color: #ffffff;
  border: 2px solid #3BB6D5;
  border-bottom: 0;
  border-left: 0;
  color: #3BB6D5;
  font-size: 22px;
}

@media screen and (max-width: 1179px) {
  .activities__tab {
    font-size: 1.8644067796610169vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__tab {
    font-size: 4.8vw;
    width: 30.666666666666668vw;
  }
}

.activities__tab:first-of-type {
  background-color: #ffffff;
  border-left: 2px solid #3BB6D5;
  color: #3BB6D5;
  padding: 10px 63px;
}

@media screen and (max-width: 1179px) {
  .activities__tab:first-of-type {
    padding: 0.847457627118644vw 5.338983050847458vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__tab:first-of-type {
    padding: 3.7333333333333334vw 6.933333333333334vw 2.933333333333333vw 7.2vw;
  }
}

.activities__tab:nth-of-type(2) {
  padding: 10px 44px 12px 49px;
}

@media screen and (max-width: 1179px) {
  .activities__tab:nth-of-type(2) {
    padding: 0.847457627118644vw 3.7288135593220337vw 1.0169491525423728vw 4.1525423728813555vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__tab:nth-of-type(2) {
    padding: 3.7333333333333334vw 4.266666666666667vw 3.466666666666667vw 2.6666666666666665vw;
  }
}

.activities__tab:nth-of-type(3) {
  padding: 10px 58px 12px;
}

@media screen and (max-width: 1179px) {
  .activities__tab:nth-of-type(3) {
    padding: 0.847457627118644vw 4.915254237288135vw 1.0169491525423728vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__tab:nth-of-type(3) {
    padding: 3.466666666666667vw 6vw 3.7333333333333334vw 6vw;
  }
}

.activities__box {
  border: 2px solid #3BB6D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .activities__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125.06666666666666vw;
    width: 92vw;
  }
}

.activities__box-left {
  margin: 96px 0 120px 55px;
}

@media screen and (max-width: 1179px) {
  .activities__box-left {
    margin: 8.135593220338983vw 0 10.169491525423728vw 4.661016949152542vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__box-left {
    height: 70.13333333333333vw;
    margin: 4.410666666666667vw 0 9.6vw 0;
    width: 92vw;
  }
}

.activities__proposal {
  color: #3BB6D5;
  font-size: 32px;
  line-height: 1.375;
  width: 352px;
}

@media screen and (max-width: 1179px) {
  .activities__proposal {
    font-size: 2.711864406779661vw;
    width: 29.83050847457627vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__proposal {
    font-size: 6.4vw;
    margin: 0 5.333333333333333vw 0 4.266666666666667vw;
    width: 89.56521739130434vw;
  }
}

.activities__sentence {
  font-size: 16px;
  font-family: Verdana;
  line-height: 1.1875;
  margin-top: 24px;
  width: 365px;
}

@media screen and (max-width: 1179px) {
  .activities__sentence {
    font-size: 1.3559322033898304vw;
    margin-top: 2.0338983050847457vw;
    width: 30.93220338983051vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__sentence {
    font-size: 4.266666666666667vw;
    margin: 4.266666666666667vw 4.266666666666667vw 0;
    width: 80vw;
  }
}

.activities__more {
  background-color: #3BB6D5;
  border-radius: 38px;
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.375;
  margin-top: 30px;
  padding: 11px 40px;
}

@media screen and (max-width: 1179px) {
  .activities__more {
    border-radius: 3.2203389830508473vw;
    font-size: 1.3559322033898304vw;
    margin-top: 2.542372881355932vw;
    padding: 0.9322033898305084vw 3.389830508474576vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__more {
    border-radius: 10.133333333333333vw;
    font-size: 4.266666666666667vw;
    margin: 6.933333333333334vw 24.266666666666666vw 0 20.8vw;
    padding: 2.933333333333333vw 10.4vw;
    width: 46.666666666666664vw;
  }
}

.activities__box-right {
  margin: 90px 55px 96px 0;
  width: 410px;
}

@media screen and (max-width: 1179px) {
  .activities__box-right {
    margin: 7.627118644067796vw 4.661016949152542vw 8.135593220338983vw 0;
    width: 34.74576271186441vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__box-right {
    margin: 8.533333333333333vw 8.533333333333333vw 0 8.8vw;
    height: 46.13333333333333vw;
    width: 74.66666666666667vw;
  }
}

.activities__inner .panel:nth-of-type(2) .activities__proposal {
  width: 338px;
}

@media screen and (max-width: 1179px) {
  .activities__inner .panel:nth-of-type(2) .activities__proposal {
    width: 28.64406779661017vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__inner .panel:nth-of-type(2) .activities__proposal {
    width: 90.13333333333333vw;
  }
}

.activities__inner .panel:nth-of-type(2) .activities__sentence {
  width: 365px;
}

@media screen and (max-width: 1179px) {
  .activities__inner .panel:nth-of-type(2) .activities__sentence {
    width: 30.93220338983051vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__inner .panel:nth-of-type(2) .activities__sentence {
    width: 80vw;
  }
}

.activities__inner .panel:nth-of-type(3) .activities__proposal {
  width: 389px;
}

@media screen and (max-width: 1179px) {
  .activities__inner .panel:nth-of-type(3) .activities__proposal {
    width: 32.96610169491525vw;
  }
}

@media screen and (max-width: 767px) {
  .activities__inner .panel:nth-of-type(3) .activities__proposal {
    width: 90.13333333333333vw;
  }
}

.flow {
  margin-top: 100px;
  /* モーダルCSS */
}

@media screen and (max-width: 1179px) {
  .flow {
    margin-top: 8.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .flow {
    margin-top: 26.666666666666668vw;
  }
}

.flow__inner {
  margin: 0 auto;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .flow__inner {
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__inner {
    width: 92%;
  }
}

.flow__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .flow__title {
    font-size: 3.559322033898305vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__title {
    font-size: 11.2vw;
  }
}

.flow__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .flow__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flow__step {
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  display: inline-block;
  height: 240px;
  margin-left: 46px;
  margin-top: 100px;
  text-align: center;
  position: relative;
  width: 240px;
}

@media screen and (max-width: 1179px) {
  .flow__step {
    height: 20.338983050847457vw;
    margin-left: 3.8983050847457625vw;
    margin-top: 8.47457627118644vw;
    width: 20.338983050847457vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__step {
    margin: 12.266666666666666vw 13.866666666666667vw 0 14.133333333333333vw;
    height: 64vw;
    width: 64vw;
  }
}

.flow__step:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .flow__step:first-of-type {
    margin-top: 13.333333333333334vw;
    margin-left: 14.133333333333333vw;
  }
}

.flow__step-icon {
  margin-top: 10px;
  width: 200px;
}

@media screen and (max-width: 1179px) {
  .flow__step-icon {
    margin-top: 0.847457627118644vw;
    width: 16.94915254237288vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__step-icon {
    margin-top: 2.6666666666666665vw;
    width: 53.333333333333336vw;
  }
}

.flow__step-number {
  color: #3BB6D5;
  font-size: 22px;
  margin-top: 8px;
}

@media screen and (max-width: 1179px) {
  .flow__step-number {
    font-size: 1.8644067796610169vw;
    margin-top: 0.6779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__step-number {
    font-size: 5.866666666666666vw;
    margin-top: 2.1333333333333333vw;
  }
}

.flow__step-more {
  background-color: #3BB6D5;
  border-top-left-radius: 35px;
  color: #ffffff;
  display: inline-block;
  line-height: 1.375;
  font-size: 16px;
  margin-top: 12px;
  padding: 11px 27px 11px 28px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1179px) {
  .flow__step-more {
    border-top-left-radius: 2.9661016949152543vw;
    font-size: 1.3559322033898304vw;
    margin-top: 1.0169491525423728vw;
    padding: 0.9322033898305084vw 2.288135593220339vw 0.9322033898305084vw 2.3728813559322033vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__step-more {
    border-top-left-radius: 9.333333333333334vw;
    font-size: 4.266666666666667vw;
    margin-top: 3.2vw;
    padding: 2.933333333333333vw 7.2vw 2.933333333333333vw 7.466666666666667vw;
  }
}

.flow__step-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 18px;
  border-color: transparent transparent transparent #3BB6D5;
  position: absolute;
  top: 50%;
  left: 254px;
}

@media screen and (max-width: 1179px) {
  .flow__step-triangle {
    border-width: 1.694915254237288vw 0 1.694915254237288vw 1.5254237288135593vw;
    left: 21.525423728813557vw;
  }
}

@media screen and (max-width: 767px) {
  .flow__step-triangle {
    border-width: 4.8vw 5.333333333333333vw 0 5.333333333333333vw;
    border-color: #3BB6D5 transparent transparent transparent;
    top: 107%;
    left: 42%;
  }
}

.flow .modalArea1, .flow .modalArea2, .flow .modalArea3, .flow .modalArea4 {
  display: none;
  position: fixed;
  z-index: 1000;
  /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flow .modalArea1 .modalBg, .flow .modalArea2 .modalBg, .flow .modalArea3 .modalBg, .flow .modalArea4 .modalBg {
  width: 100%;
  height: 100%;
  background-color: #0000001C;
}

.flow .modalArea1 .modalWrapper, .flow .modalArea2 .modalWrapper, .flow .modalArea3 .modalWrapper, .flow .modalArea4 .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 660px;
  height: 440px;
  background-color: #fff;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .modalWrapper, .flow .modalArea2 .modalWrapper, .flow .modalArea3 .modalWrapper, .flow .modalArea4 .modalWrapper {
    width: 55.932203389830505vw;
    height: 37.28813559322034vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .modalWrapper, .flow .modalArea2 .modalWrapper, .flow .modalArea3 .modalWrapper, .flow .modalArea4 .modalWrapper {
    height: 100.26666666666667vw;
    width: 92vw;
  }
}

.flow .modalArea1 .modalContents, .flow .modalArea2 .modalContents, .flow .modalArea3 .modalContents, .flow .modalArea4 .modalContents {
  text-align: center;
}

.flow .modalArea1 .modalContents .flow__step-icon, .flow .modalArea2 .modalContents .flow__step-icon, .flow .modalArea3 .modalContents .flow__step-icon, .flow .modalArea4 .modalContents .flow__step-icon {
  margin-top: 50px;
  width: 250px;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .modalContents .flow__step-icon, .flow .modalArea2 .modalContents .flow__step-icon, .flow .modalArea3 .modalContents .flow__step-icon, .flow .modalArea4 .modalContents .flow__step-icon {
    margin-top: 4.23728813559322vw;
    width: 21.1864406779661vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .modalContents .flow__step-icon, .flow .modalArea2 .modalContents .flow__step-icon, .flow .modalArea3 .modalContents .flow__step-icon, .flow .modalArea4 .modalContents .flow__step-icon {
    margin-top: 10.666666666666666vw;
    width: 53.333333333333336vw;
  }
}

.flow .modalArea1 .modalContents .flow__step-number, .flow .modalArea2 .modalContents .flow__step-number, .flow .modalArea3 .modalContents .flow__step-number, .flow .modalArea4 .modalContents .flow__step-number {
  color: #3BB6D5;
  font-size: 38px;
  margin-top: 13px;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .modalContents .flow__step-number, .flow .modalArea2 .modalContents .flow__step-number, .flow .modalArea3 .modalContents .flow__step-number, .flow .modalArea4 .modalContents .flow__step-number {
    font-size: 1.8644067796610169vw;
    margin-top: 0.6779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .modalContents .flow__step-number, .flow .modalArea2 .modalContents .flow__step-number, .flow .modalArea3 .modalContents .flow__step-number, .flow .modalArea4 .modalContents .flow__step-number {
    font-size: 10.133333333333333vw;
    margin-top: 2.1333333333333333vw;
  }
}

.flow .modalArea1 .modalContents .flow__step-text, .flow .modalArea2 .modalContents .flow__step-text, .flow .modalArea3 .modalContents .flow__step-text, .flow .modalArea4 .modalContents .flow__step-text {
  font-size: 16px;
  font-family: verdana;
  line-height: 1.1875;
  margin: 29px auto 0;
  width: 362px;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .modalContents .flow__step-text, .flow .modalArea2 .modalContents .flow__step-text, .flow .modalArea3 .modalContents .flow__step-text, .flow .modalArea4 .modalContents .flow__step-text {
    font-size: 1.3559322033898304vw;
    margin: 2.4576271186440675vw auto 0;
    width: 30.677966101694913vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .modalContents .flow__step-text, .flow .modalArea2 .modalContents .flow__step-text, .flow .modalArea3 .modalContents .flow__step-text, .flow .modalArea4 .modalContents .flow__step-text {
    font-size: 3.8vw;
    height: 24.266666666666666vw;
    line-height: 1.2;
    margin: 7.2vw 3.2vw 0 3.466666666666667vw;
    width: 85.33333333333333vw;
  }
}

.flow .modalArea1 .closeModal, .flow .modalArea2 .closeModal, .flow .modalArea3 .closeModal, .flow .modalArea4 .closeModal {
  background-color: #3BB6D5;
  border-bottom-left-radius: 35px;
  color: #ffffff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .closeModal, .flow .modalArea2 .closeModal, .flow .modalArea3 .closeModal, .flow .modalArea4 .closeModal {
    border-bottom-left-radius: 2.9661016949152543vw;
    height: 5.932203389830509vw;
    width: 5.932203389830509vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .closeModal, .flow .modalArea2 .closeModal, .flow .modalArea3 .closeModal, .flow .modalArea4 .closeModal {
    border-bottom-left-radius: 9.333333333333334vw;
    height: 18.666666666666668vw;
    width: 18.666666666666668vw;
  }
}

.flow .modalArea1 .closeModal .close img, .flow .modalArea2 .closeModal .close img, .flow .modalArea3 .closeModal .close img, .flow .modalArea4 .closeModal .close img {
  height: 30px;
  margin: 20px;
  width: 30px;
}

@media screen and (max-width: 1179px) {
  .flow .modalArea1 .closeModal .close img, .flow .modalArea2 .closeModal .close img, .flow .modalArea3 .closeModal .close img, .flow .modalArea4 .closeModal .close img {
    height: 2.542372881355932vw;
    margin: 1.694915254237288vw;
    width: 2.542372881355932vw;
  }
}

@media screen and (max-width: 767px) {
  .flow .modalArea1 .closeModal .close img, .flow .modalArea2 .closeModal .close img, .flow .modalArea3 .closeModal .close img, .flow .modalArea4 .closeModal .close img {
    height: 8vw;
    margin: 5.333333333333333vw;
    width: 8vw;
  }
}

.member {
  margin-top: 190px;
}

@media screen and (max-width: 1179px) {
  .member {
    margin-top: 16.101694915254235vw;
  }
}

@media screen and (max-width: 767px) {
  .member {
    margin-top: 26.666666666666668vw;
  }
}

.member__inner {
  margin: 0 auto;
  padding: 0 165px;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .member__inner {
    padding: 0 13.983050847457626vw;
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .member__inner {
    padding: 0 16.53333333333333vw 0 16.8vw;
    width: 92%;
  }
}

.member__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .member__title {
    font-size: 3.559322033898305vw;
  }
}

@media screen and (max-width: 767px) {
  .member__title {
    font-size: 11.2vw;
  }
}

.member__introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .member__introduce {
    margin-top: 6.779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce {
    margin-top: 13.333333333333334vw;
    position: relative;
  }
}

.member__introduce-person {
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  height: 270px !important;
  margin-left: 30px;
  width: 220px !important;
}

@media screen and (max-width: 1179px) {
  .member__introduce-person {
    height: 22.881355932203387vw;
    margin-left: 2.542372881355932vw;
    width: 18.64406779661017vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-person {
    height: 72vw;
    width: 58.666666666666664vw;
  }
}

.member__introduce-person:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .member__introduce-person:not(:first-of-type) {
    display: none;
  }
}

.member__introduce-person-img {
  margin-top: 10px;
  width: 150px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-person-img {
    margin-top: 0.847457627118644vw;
    width: 12.711864406779661vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-person-img {
    margin-top: 2.6666666666666665vw;
    width: 40vw;
  }
}

.member__introduce-person-post {
  color: #3BB6D5;
  line-height: 1.36364;
  font-size: 22px;
  margin-top: 20px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-person-post {
    font-size: 1.8644067796610169vw;
    margin-top: 1.694915254237288vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-person-post {
    font-size: 5.866666666666666vw;
    margin-top: 5.333333333333333vw;
  }
}

.member__introduce-person-name {
  font-size: 18px;
  line-height: 1.38889;
  margin-top: 8px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-person-name {
    font-size: 1.5254237288135593vw;
    margin-top: 0.6779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-person-name {
    font-size: 4.8vw;
    margin-top: 2.1333333333333333vw;
  }
}

.member__introduce-left {
  position: relative;
  margin-right: 17px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-left {
    margin-right: 1.4406779661016949vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-left {
    margin-right: 0;
    position: absolute;
    top: 41%;
    left: 12%;
  }
}

.member__introduce-left:before {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  background: #3BB6D5;
  border-radius: 50%;
  top: 41%;
  right: 0;
}

@media screen and (max-width: 1179px) {
  .member__introduce-left:before {
    width: 4.067796610169491vw;
    height: 4.067796610169491vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-left:before {
    width: 12.8vw;
    height: 12.8vw;
  }
}

.member__introduce-left:after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 44%;
  right: 12px;
  margin-top: 7px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-left:after {
    width: 1.5254237288135593vw;
    height: 1.5254237288135593vw;
    right: 1.0169491525423728vw;
    margin-top: 0.5932203389830508vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-left:after {
    width: 4.8vw;
    height: 4.8vw;
    right: 3.2vw;
    margin-top: 4.133333333333333vw;
  }
}

.member__introduce-right {
  position: relative;
  margin-left: 17px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-right {
    margin-left: 1.4406779661016949vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-right {
    margin-left: 0;
    position: absolute;
    top: 41%;
    right: 12%;
  }
}

.member__introduce-right:before {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  background: #3BB6D5;
  border-radius: 50%;
  top: 41%;
  left: 0;
}

@media screen and (max-width: 1179px) {
  .member__introduce-right:before {
    width: 4.067796610169491vw;
    height: 4.067796610169491vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-right:before {
    width: 12.8vw;
    height: 12.8vw;
  }
}

.member__introduce-right:after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 44%;
  left: 12px;
  margin-top: 7px;
}

@media screen and (max-width: 1179px) {
  .member__introduce-right:after {
    width: 1.5254237288135593vw;
    height: 1.5254237288135593vw;
    left: 1.0169491525423728vw;
    margin-top: 0.5932203389830508vw;
  }
}

@media screen and (max-width: 767px) {
  .member__introduce-right:after {
    width: 4.8vw;
    height: 4.8vw;
    left: 3.2vw;
    margin-top: 4.133333333333333vw;
  }
}

.question {
  margin-top: 100px;
}

@media screen and (max-width: 1179px) {
  .question {
    margin-top: 8.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .question {
    margin-top: 26.666666666666668vw;
  }
}

.question__inner {
  margin: 0 auto;
  width: 1180px;
  padding: 0 155px;
}

@media screen and (max-width: 1179px) {
  .question__inner {
    padding: 0 13.135593220338983vw;
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .question__inner {
    padding: 0;
    width: 92%;
  }
}

.question__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  .question__title {
    font-size: 3.559322033898305vw;
  }
}

@media screen and (max-width: 767px) {
  .question__title {
    font-size: 11.2vw;
  }
}

.question__shadow {
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
}

.question__shadow:nth-of-type(1) .question__lists:nth-of-type(1) {
  margin-top: 80px;
}

@media screen and (max-width: 1179px) {
  .question__shadow:nth-of-type(1) .question__lists:nth-of-type(1) {
    margin-top: 6.779661016949152vw;
  }
}

@media screen and (max-width: 767px) {
  .question__shadow:nth-of-type(1) .question__lists:nth-of-type(1) {
    margin-top: 13.333333333333334vw;
  }
}

.question__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media screen and (max-width: 1179px) {
  .question__lists {
    margin-top: 2.9661016949152543vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists {
    margin-top: 8vw;
  }
}

.question__lists-icon {
  background-color: #3BB6D5;
  color: #ffffff;
  font-size: 30px;
  float: left;
  line-height: 1.36667;
  padding: 8px 16px 11px 19px;
}

@media screen and (max-width: 1179px) {
  .question__lists-icon {
    font-size: 2.542372881355932vw;
    padding: 0.6779661016949152vw 1.3559322033898304vw 0.9322033898305084vw 1.6101694915254237vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists-icon {
    font-size: 8vw;
    padding: 2.1333333333333333vw 4.266666666666667vw 2.933333333333333vw 5.066666666666666vw;
  }
}

.question__lists-list {
  position: relative;
  width: 807px;
  /*
      プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
      jQueryで付け外しを行う
      */
}

@media screen and (max-width: 1179px) {
  .question__lists-list {
    width: 68.38983050847457vw;
  }
}

.question__lists-list-sentence {
  font-family: verdana;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22222;
  padding: 19px 629px 19px 36px;
  width: 807px;
}

@media screen and (max-width: 1179px) {
  .question__lists-list-sentence {
    font-size: 1.5254237288135593vw;
    padding: 1.6101694915254237vw 52.54237288135593vw 1.6101694915254237vw 3.0508474576271185vw;
    width: 68.38983050847457vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists-list-sentence {
    font-size: 4.8vw;
    padding: 5.066666666666666vw 28vw 5.066666666666666vw 9.6vw;
    width: 76vw;
  }
}

.question__lists-list-icon::before, .question__lists-list-icon::after {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background: #65B4C9;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1179px) {
  .question__lists-list-icon::before, .question__lists-list-icon::after {
    width: 2.542372881355932vw;
    right: 4vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists-list-icon::before, .question__lists-list-icon::after {
    width: 8vw;
    right: 0;
  }
}

.question__lists-list span::after {
  /* 2本の横棒のうち一本は縦棒にする */
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  /* 横棒を縦にするために90℃回転 */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* プラスからマイナスへの切替をゆっくり行いアニメーション*/
}

.question__lists-list .active::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.question__lists:nth-of-type(even) {
  margin-top: 0;
  display: none;
}

.question__lists:nth-of-type(even) .question__lists-icon {
  background-color: #ffffff;
  color: #3BB6D5;
  float: left;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 1179px) {
  .question__lists:nth-of-type(even) .question__lists-icon {
    height: 5.084745762711864vw;
    width: 5.084745762711864vw;
  }
}

.question__lists:nth-of-type(even) .question__lists-list {
  width: 867px;
}

@media screen and (max-width: 1179px) {
  .question__lists:nth-of-type(even) .question__lists-list {
    width: 73.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists:nth-of-type(even) .question__lists-list {
    width: 345px;
  }
}

.question__lists:nth-of-type(even) .question__lists-list-sentence {
  font-weight: normal;
  padding: 19px 629px 19px 96px;
  width: 867px;
}

@media screen and (max-width: 1179px) {
  .question__lists:nth-of-type(even) .question__lists-list-sentence {
    padding: 1.6101694915254237vw 52.54237288135593vw 1.6101694915254237vw 8.135593220338983vw;
    width: 73.47457627118644vw;
  }
}

@media screen and (max-width: 767px) {
  .question__lists:nth-of-type(even) .question__lists-list-sentence {
    padding: 5.066666666666666vw 32vw 5.066666666666666vw 25.6vw;
    width: 92vw;
  }
}

.question__lists:nth-of-type(even)::after {
  content: '';
  display: block;
  clear: both;
}

.contact {
  margin-top: 71px;
}

@media screen and (max-width: 1179px) {
  .contact {
    margin-top: 6.016949152542373vw;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 26.666666666666668vw;
  }
}

.contact__bg-img {
  background: transparent url(../img/bg-shape.png) repeat top center/cover;
  height: 529px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  position: relative;
}

@media screen and (max-width: 1179px) {
  .contact__bg-img {
    height: 44.83050847457627vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__bg-img {
    margin-top: 71.2vw;
    height: 41.333333333333336vw;
  }
}

.contact__inner {
  margin: 0 auto;
  text-align: center;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  padding: 0 372px 0 374px;
  width: 1180px;
}

@media screen and (max-width: 1179px) {
  .contact__inner {
    padding: 0 31.525423728813557vw 0 31.694915254237287vw;
    width: 97.45762711864407vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__inner {
    padding: 0;
    width: 92%;
  }
}

.contact__title {
  color: #3BB6D5;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  bottom: 400px;
  left: 43.5%;
}

@media screen and (max-width: 1179px) {
  .contact__title {
    font-size: 3.559322033898305vw;
    bottom: 33.89830508474576vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__title {
    bottom: 70.4vw;
    font-size: 11.2vw;
    left: 28%;
  }
}

.contact__proposal {
  font-size: 32px;
  position: absolute;
  bottom: 276px;
  left: 34%;
}

@media screen and (max-width: 1179px) {
  .contact__proposal {
    font-size: 2.711864406779661vw;
    bottom: 23.389830508474574vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__proposal {
    font-size: 5.866666666666666vw;
    bottom: 54.93333333333333vw;
    left: 10%;
  }
}

.contact__sentence {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.21429;
  position: absolute;
  bottom: 214px;
  left: 33%;
}

@media screen and (max-width: 1179px) {
  .contact__sentence {
    font-size: 1.1864406779661016vw;
    bottom: 18.135593220338983vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__sentence {
    font-size: 3.7333333333333334vw;
    bottom: 32.8vw;
    left: 0;
  }
}

.contact__button {
  background-color: #FFE97E;
  border-radius: 25px;
  -webkit-box-shadow: 0 11px 30px #7298FF29;
          box-shadow: 0 11px 30px #7298FF29;
  font-size: 18px;
  line-height: 1.38889;
  padding: 13px 46.5px 12px 47.5px;
  position: absolute;
  left: 43%;
  bottom: 109px;
}

@media screen and (max-width: 1179px) {
  .contact__button {
    border-radius: 2.11864406779661vw;
    font-size: 1.5254237288135593vw;
    padding: 1.1016949152542372vw 3.9406779661016946vw 1.0169491525423728vw 4.025423728813559vw;
    bottom: 9.23728813559322vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__button {
    border-radius: 6.666666666666667vw;
    font-size: 4.8vw;
    padding: 3.466666666666667vw 12.4vw 3.2vw 12.666666666666666vw;
    left: 24.5%;
    bottom: 13.066666666666666vw;
  }
}

footer {
  background-color: #ffffff;
  text-align: center;
}

footer .copyright {
  display: inline-block;
  line-height: 1.25;
  font-size: 12px;
  font-family: verdana;
  margin: 44.6px auto 20px;
  line-height: 1.25;
}

@media screen and (max-width: 1179px) {
  footer .copyright {
    font-size: 1.0169491525423728vw;
    margin: 3.7796610169491527vw auto 1.694915254237288vw;
  }
}

@media screen and (max-width: 767px) {
  footer .copyright {
    font-size: 3.2vw;
    margin: 3.36vw auto 4.64vw;
  }
}
/*# sourceMappingURL=style.css.map */