// base 
// $color-main: #ae0009;

// logo

// background
$color-bg: #fff;

// text
$color-w: #ffffff;
$color-blue: #3BB6D5;
$color-db: #65B4C9;
$color-text: #555555;
$color-shadow: #7298FF29;

// box-shadow
$shadow: 0 11px 30px #7298FF29; 

// opacity

// marker

// icon

