@charset "UTF-8";

// 共通カラーコードやpx値などは、変数としてsettingへ
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: Alata, “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif; 
  // font-family: “游ゴシック体”, YuGothic, “游ゴシック Medium”, “Yu Gothic Medium”, “游ゴシック”, “Yu Gothic”, sans-serif; 

  a {
    color: $color-text;
    display: block;
    text-decoration: none; 
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: none;
  }
}

body.open {
  overflow: hidden;
}


/*画面全体にローディング画面を表示*/
#showLoading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}
#showLoading img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.hidden {
display: none;
}