.activities {
  margin-top: 100px;
  @include mq('tab') {
    margin-top: 8.47457627118644vw;
  }
  @include mq('sp') {
    margin-top: 26.666666666666668vw;
    // margin-top: 100px;
  }
  &__inner {
    margin: 0 auto;
    padding: 0 100px;
    width: 1180px;
    @include mq('tab') {
      padding: 0 8.47457627118644vw;
      width: 97.45762711864407vw;
    }
    @include mq('sp') {
      margin: 0 4vw;
      // margin: 0 15px;
      padding: 0;
      width: 92vw;
      // width: 345px;
    }
    .panel{
      display:none;
    }
    .tab.is-active{
        background: $color-blue;
        color: #FFF;
        transition: all 0.2s ease-out;
    }
    .panel.is-show{
        display:block;
    }
  }
  &__title {
    color: $color-blue;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    @include mq('tab') {
      font-size: 3.559322033898305vw;
    }
    @include mq('sp') {
      font-size: 11.2vw;
      // font-size: 42px;
    }
  }
  &__tabs {
    display: flex;
    margin-top: 100px;
    @include mq('tab') {
      margin-top: 8.47457627118644vw;
    }
    @include mq('sp') {
      margin-top: 13.333333333333334vw;
      // margin-top: 50px;
    }
  }
  &__tab {
    background-color: $color-w;
    border: 2px solid $color-blue;
    border-bottom: 0;
    border-left: 0;
    color: $color-blue;
    font-size: 22px;
    text-align: center;
    width: 202px;
    @include mq('tab') {
      font-size: 1.8644067796610169vw;
      width: 17.11864406779661;
    }
    @include mq('sp') {
      font-size: 4.8vw;
      // font-size: 18px;
      width: 30.666666666666668vw;
      // width: 115px;
    }
    &:first-of-type {
      background-color: $color-w;
      border-left: 2px solid $color-blue;
      color: $color-blue;
      padding: 10px 63px;
      @include mq('tab') {
      padding: 0.847457627118644vw 5.338983050847458vw;
      }
      @include mq('sp') {
        padding: 3.7333333333333334vw 6.933333333333334vw 2.933333333333333vw 7.2vw;
        // padding: 14px 26px 11px 27px;
      }
    }
    &:nth-of-type(2) {
      padding: 10px 44px 12px 49px;
      @include mq('tab') {
      padding: 0.847457627118644vw 3.7288135593220337vw 1.0169491525423728vw 4.1525423728813555vw;
      }
      @include mq('sp') {
        padding: 3.7333333333333334vw 4.266666666666667vw 3.466666666666667vw 2.6666666666666665vw;
        // padding: 14px 16px 13px 10px;
      }
    }
    &:nth-of-type(3) {
      padding: 10px 58px 12px;
      @include mq('tab') {
      padding: 0.847457627118644vw 4.915254237288135vw 1.0169491525423728vw;
      }
      @include mq('sp') {
        padding: 3.466666666666667vw 6vw 3.7333333333333334vw 6vw;
        // padding: 13px 22.5px 14px 22.5px;
      }
    }
  }
  &__box {
    border: 2px solid $color-blue;
    display: flex;
    justify-content: space-between;
    @include mq('sp') {
      flex-direction: column-reverse;
      align-items: center;
      height: 125.06666666666666vw;
      // height: 469px;
      width: 92vw;
      // width: 345px;
    }
  }
  &__box-left {
    margin: 96px 0 120px 55px;
    @include mq('tab') {
      margin: 8.135593220338983vw 0 10.169491525423728vw 4.661016949152542vw;
    }
    @include mq('sp') {
      height: 70.13333333333333vw;
      // height: 263px;
      margin: 4.410666666666667vw 0 9.6vw 0;
      // margin: 16.54px 0 36px 0;
      width: 92vw;
      // width: 345px;
    }
  }
  &__proposal {
    color: $color-blue;
    font-size: 32px;
    line-height: division(44,32);
    width: 352px;
    @include mq('tab') {
      font-size: 2.711864406779661vw;
      width: 29.83050847457627vw;
    }
    @include mq('sp') {
      font-size: 6.4vw;
      // font-size: 24px;
      margin: 0 5.333333333333333vw 0 4.266666666666667vw;
      // margin: 0 20px 0 16px;
      // width: 309px;
      width: 89.56521739130434vw;
    }
  }
  &__sentence {
    font-size: 16px;
    font-family: Verdana;
    line-height: division(19,16);
    margin-top: 24px;
    width: 365px;
    @include mq('tab') {
      font-size: 1.3559322033898304vw;
      margin-top: 2.0338983050847457vw;
      width: 30.93220338983051vw;
    }
    @include mq('sp') {
      font-size: 4.266666666666667vw;
      // font-size: 16px;
      margin: 4.266666666666667vw 4.266666666666667vw 0;
      // margin: 16px 16px 0;
      width: 80vw;
    }
  }
  &__more {
    background-color: $color-blue;
    border-radius: 38px;
    box-shadow: $shadow;
    color: $color-w;
    display: inline-block;
    font-size: 16px;
    line-height: division(22,16);
    margin-top: 30px;
    padding: 11px 40px;
    @include mq('tab') {
      border-radius: 3.2203389830508473vw;
      font-size: 1.3559322033898304vw;
      margin-top: 2.542372881355932vw;
      padding: 0.9322033898305084vw 3.389830508474576vw;
    }
    @include mq('sp') {
      text-align: center;
      border-radius: 10.133333333333333vw;
      // border-radius: 38px;
      font-size: 4.266666666666667vw;
      // font-size: 16px;
      margin: 6.933333333333334vw 24.266666666666666vw 0 20.8vw;
      // margin: 26px 91px 0 78px;
      padding: 2.933333333333333vw 5vw;
      // padding: 11px 39px;
      width: 46.666666666666664vw;
      // width: 175px;
    }
  }
  &__box-right {
    margin: 90px 55px 96px 0;
    width: 410px;
    @include mq('tab') {
      margin: 7.627118644067796vw 4.661016949152542vw 8.135593220338983vw 0;
      width: 34.74576271186441vw;
    }
    @include mq('sp') {
      margin: 8.533333333333333vw 8.533333333333333vw 0 8.8vw;
      // margin: 32px 32px 0 33px;
      height: 46.13333333333333vw;
      // height: 173px;
      width: 74.66666666666667vw;
      // width: 280px;
    }
  }
  &__img {
    @include mq('sp') {
      
    }
  }

  &__inner {
    .panel {
      &:nth-of-type(2) {
        .activities__proposal {
          width: 338px;
          @include mq('tab') {
            width: 28.64406779661017vw;
          }
          @include mq('sp') {
            width: 90.13333333333333vw;
          }
        }
        .activities__sentence {
          width: 365px;
          @include mq('tab') {
            width: 30.93220338983051vw;
          }
          @include mq('sp') {
            width: 80vw;
          }
        }
        // .activities__img {
        //   mt
        // }
      }
      &:nth-of-type(3) {
        .activities__proposal {
          width: 389px;
          @include mq('tab') {
            width: 32.96610169491525vw;
          }
          @include mq('sp') {
            width: 90.13333333333333vw;
          }
        }
      }
    }
  }  
}

