.question {
  margin-top: 100px;
  @include mq('tab') {
    margin-top: 8.47457627118644vw;
  }
  @include mq('sp') {
    margin-top: 26.666666666666668vw;
    // margin-top: 100px;
  }
  &__inner {
    margin: 0 auto;
    width: 1180px;
    padding: 0 155px;
    @include mq('tab') {
      padding: 0 13.135593220338983vw;
      width: 97.45762711864407vw;
    }
    @include mq('sp') {
      padding: 0;
      width: 92%;
    }
  }
  &__title {
    color: $color-blue;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    @include mq('tab') {
      font-size: 3.559322033898305vw;
    }
    @include mq('sp') {
      font-size: 11.2vw;
      // font-size: 42px;
    }
  }
  &__shadow {
    box-shadow: $shadow;
  }
  &__lists {
    display: flex;
    margin-top: 35px;
    @include mq('tab') {
      margin-top: 2.9661016949152543vw;
    }
    @include mq('sp') {
      margin-top: 8vw;
      // margin-top: 30px;
    }
    &:first-of-type {
      margin-top: 35px;
      @include mq('tab') {
        margin-top: 6.779661016949152vw;
      }
      @include mq('sp') {
        margin-top: 13.333333333333334vw;
        // margin-top: 50px;
      }
    }
    &-icon {
      background-color: $color-blue;
      color: $color-w;
      display: inline-block;
      font-size: 30px;
      line-height: division(41,30);
      padding: 8px 16px 11px 19px;
      @include mq('tab') {
        font-size: 2.542372881355932vw;
        padding: 0.6779661016949152vw 1.3559322033898304vw 0.9322033898305084vw 1.6101694915254237vw;
      }
      @include mq('sp') {
        font-size: 8vw;
        // font-size: 30px;
        padding: 2.1333333333333333vw 4.266666666666667vw 2.933333333333333vw 5.066666666666666vw;       
        // padding: 8px 16px 11px 19px;       
      }
    }
    &-list {
      position: relative;
      &-sentence {
        font-family: verdana;
        font-size: 18px;
        font-weight: bold;
        line-height: division(22,18);
        padding: 19px 630px 19px 36px;
        width: 867px;
        @include mq('tab') {
          font-size: 1.5254237288135593vw;
          padding: 1.6101694915254237vw 53.389830508474574vw 1.6101694915254237vw 3.0508474576271185vw;
          width: 73.47457627118644vw;
        }
        @include mq('sp') {
          font-size: 4.8vw;
          // font-size: 18px;
          padding: 5.066666666666666vw 28.8vw 5.066666666666666vw 9.6vw;
          // margin: 19px 108px 19px 36px;
          width: 92vw;
          // width: 345px;
        }
      }
      // &-icon {
      //   // height: 30px;
      //   // width: 30px;
      //   // padding: 15.5px 35.5px 14.5px 0;
      // }
      &-icon::before,
      &-icon::after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: $color-db;
        position: absolute;
        right: 20.5px;
        top: 50%;
        transform: translateY(-50%);
        @include mq('tab') {
          width: 2.542372881355932vw;
          right: 1.6015625vw;
        }
        @include mq('sp') {
          width: 8vw;
          // width: 30px;
          right: 5.466666666666667vw;
          // right: 20.5px;
        }
      }
      /* 2本の横棒のうち一本は縦棒にする */
      span::after {
        /* 横棒を縦にするために90℃回転させる */
        transform: translateY(-50%) rotate(90deg);
        /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
        transition: 0.5s;
      }
      
      /*
      プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
      jQueryで付け外しを行う
      */
      .active::after {
        transform: rotate(0);
        transition: 0.5s;
      }
    }
  }

  &__lists {
    &:nth-of-type(even) {
      margin-top: 0;
      display: none;
      .question__lists-icon {
        background-color: $color-w;
        color: $color-blue;
        height: 60px;
        width: 60px;
      }
      .question__lists-list {
        &-sentence {
          font-weight: normal;
          width: 807px;
        }
      }
      // .question__lists-list-sentence {
      //   // width: 113px;
      // }  
    }
  } 
  // .text-open {
  //   display: block;
  // }
}